@media (min-width: 576px) {
    h1 {
      font-size: 150%;
    }
    h4 {
      font-size: 80%;
    }
    .foto{
        width: 100px;
    }
  }
  
  /*Medium devices (tablets, 768px ve yukarısı)*/
  @media (min-width: 768px) {
    h1 {
      font-size: 200%;
    } h4 {
      font-size: 90%;
    }
    .foto{
        width: 150px;
    }}
   
  
  /* Large devices (desktops, 992px ve yukarısı)*/
  @media (min-width: 992px) {
    h1 {
      font-size: 250%;
    }h4 {
      font-size: 100%;
    } .foto{
        width: 200px;
    }}
   
    
  
  /* Extra large devices (large desktops, 1200px ve yukarısı)*/
  @media (min-width: 1200px) {
    h1 {
      font-size: 300%;
    }  h4 {
      font-size: 130%;
    }.foto{
        width: 250px;
    }}
    

.container1{
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgb(42, 90, 28);
    width: 80%;
    height:100%;
}
.container2{
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    background-color: rgb(143, 25, 25);
width: 20%;}
html,body{
    background-color: rgba(0, 0, 0, 0.274);
    height: 100%;
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: Header;
}
h4{
    font-family: Alt;
}

.logo{
    width: 150px;
}
@font-face {

    font-family: Alt;
    src: url(../fonts/dogicapixelbold.ttf);
  }
  @font-face {
    font-family: Header;
    src: url(../fonts/upheavtt.ttf);
  }